<div class="message <%= message.staff ? 'staffMessage' : '' %> <%= message.moderation_status %>" id="message<%= message.id %>">

  <div class="messageButtons">
    <% if message.moderation_status == 'published' %>

      <% if @allow_vote %>
        <div class="thumbs" id="messageThumbs<%= message.id %>">
          <%= link_to image_tag('thumb_up.png', :alt => t(:thumb_up_alttext)) + ' ' + message.thumbs_up.to_s, vote_message_url(message, :amount => '1'), {:remote => true, :class => 'thumbsUp', :title => t(:thumb_up_tooltip)} %>
          <%= link_to image_tag('thumb_down.png', :alt => t(:thumb_down_alttext)) + ' ' + message.thumbs_down.to_s, vote_message_url(message, :amount => '-1'), {:remote => true, :class => 'thumbsDown', :title => t(:thumb_down_tooltip)} %>
        </div>
      <% else %>
        <%= render :partial => 'messages/thumbs', :locals => {:message => message} %>
      <% end %>
    <% end %>

    <% if can? :manage, @course %>
      <ul class="messageActions">
        <li><%= link_to t(:add_to_faq), new_faq_path(:course_code => @course.code, :instance_path => @instance.path, :message_id => message.id) %></li>
        <li><%= link_to t(:re_moderate), moderate_message_path(message), :remote => true
        #:update => "messageModeration#{message.id}"}
        %>
        <li><%= link_to t(:Edit), edit_message_path(message) %></li>
      </ul>
    <% end %>
  </div>

  <% if can?(:manage, @course) || message.moderation_status == 'published' %>
    <!-- Header -->
    <p class="sender">
      <%=h message.nick %>
      <% if message.anonymous %>
        <i>(<%=t :not_authenticated %>)</i>
      <% else %>
        <i>(<%=t :authenticated %>)</i>
      <% end %>
      &mdash; <%=l message.created_at, :format => :long %>
    </p>

    <!-- Message body -->
    <p class="text"><% if message.moderation_status == 'censored' %>
      <%= image_tag('censored.png', :alt => 'Censored', :class => 'moderationStatus', :id => "moderationStatus#{message.id}") %>
    <% end %><%= message.text %></p>

    <!-- Edits -->
    <% if message.edited_at %>
      <p class="editor">
        <%=t :edited_by %> <%= message.editor.name %> &mdash; <%=l message.edited_at, :format => :long %><br />
        <%= message.edit_reason %>
      </p>
    <% end %>

    <!-- Moderation -->
    <% if can? :manage, @course %>
      <div id="messageModeration<%= message.id %>">
        <% if message.moderation_status == 'pending' %>
          <%= render :partial => 'messages/moderation', :locals => {:message => message} # Needs to be messages/mderation because this is rendered from Topics
          %>
        <% end %>
      </div>
    <% end %>
  <% elsif message.moderation_status == 'pending' %>
    <!-- Student view, In queue -->
    <p class="sender"><%=l message.created_at, :format => :long %></p>
    <p class="hiddenMessage">In moderation queue</p>
  <% elsif message.moderation_status == 'censored' %>
    <!-- Student view, Censored -->
    <p class="sender"><%=l message.created_at, :format => :long %></p>
    <p class="hiddenMessage"><%=t :message_censored %></p>
  <% end %>

  <div class="clear"></div>
</div>
