<h2><%=t :new_message_heading %></h2>
<%= form_for @message do |f| %>
  <%= f.hidden_field :topic_id %>

  <p>
    <%=t :Nick %>: <%= f.text_field :nick %><br />
    <%= f.text_area :text, { :rows => 5, :cols => 80 } %><br />
    <%= f.submit t('send_button') %>
  </p>
  <!--p class="hint"><%=t :new_message_hint %></p-->
<% end %>
