<span class="thumbsUp" title="<%=t :thumb_up_tooltip %>">
  <%= image_tag('thumb_up.png', :alt => t(:thumb_up_alttext)) %>
  <%= message.thumbs_up %>
</span> 
<span class="thumbsDown" title="<%=t :thumb_down_tooltip %>">
  <%= image_tag('thumb_down.png', :alt => t(:thumb_down_alttext)) %>
  <%= message.thumbs_down %>
</span> 
