<h2><%=t :topics_index_heading %></h2>

<% if !@instance.active %>
  <p class="hint"><%= t(:instance_inactive, :course => @instance.name) %></p>
<% elsif @allow_send %>
  <p><%= link_to t(:new_topic), new_topic_path(@course.code, @instance.path) %></p>
<% elsif !user_signed_in? %>
  <p class="hint"><%= link_to t(:new_topic_login), url_for(:require_login => true) %></p>
<% elsif @course.feedback_write_permission == 'enrolled' && !@is_enrolled %>
  <p class="hint"><%=t :new_topic_enrolled %></p>
<% end %>

<% if @allow_headlines %>
  <% if !user_signed_in? && @course.feedback_read_permission == 'authenticated' %>
    <p class="hint"><%= link_to t(:topic_read_authenticated), url_for(:require_login => true) %></p>
  <% elsif @course.feedback_read_permission == 'staff' %>
    <p class="hint"><%=t :topic_read_staff %></p>
  <% end %>

  <table class="topics">
    <thead>
      <tr>
        <td><%=t :Topic %></td>
        <td><%= link_to t(:Opened), instance_root_path(@instance.course.code, @instance.path, :sort => 'opened') %></td>
        <td><%= link_to t(:Commented), instance_root_path(@instance.course.code, @instance.path, :sort => 'commented') %></td>
        <td><%= link_to t(:Answered), instance_root_path(@instance.course.code, @instance.path, :sort => 'answered') %></td>
        <td><%= link_to image_tag('thumb_up.png', :alt => 'Thumbs up'), instance_root_path(@instance.course.code, @instance.path, :sort => 'thumbs_up') %></td>
        <td><%= link_to image_tag('thumb_down.png', :alt => 'Thumbs down'), instance_root_path(@instance.course.code, @instance.path, :sort => 'thumbs_down') %></td>
      </tr>
    </thead>
    <tbody>
      <% @topics.each do |topic| %>
        <% if topic.moderation_status == 'published' %>
          <!-- Published message -->
          <tr>
            <% if @allow_read %>
              <td><%= link_to topic.caption, topic_path(topic.id) %></td>
            <% else %>
              <td><%= topic.caption %></td>
            <% end %>
            <td class="<%= user_signed_in? && current_user.last_login_at && topic.created_at > current_user.last_login_at ? 'recent' : ''%>"><%=l topic.created_at %></td>
            <% if topic.commented_at %>
              <td class="<%= user_signed_in? && current_user.last_login_at && topic.commented_at > current_user.last_login_at ? 'recent' : ''%>"><%=l topic.commented_at, :format => :short %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= topic.action_status == 'answered' ? 'x' : '' %></td>
            <td class="thumbsUp"><%= topic.thumbs_up %></td>
            <td class="thumbsDown"><%= topic.thumbs_down %></td>
          </tr>
        <% elsif topic.moderation_status == 'pending' %>
          <!-- Message in queue -->
          <tr>
            <td class="hiddenMessage"><%= t(:in_queue) %></td>
            <td><%=l topic.created_at %></td>
            <% if topic.commented_at %>
              <td><%=l topic.commented_at, :format => :short %></td>
            <% else %>
              <td></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% elsif topic.moderation_status == 'censored' %>
          <!-- Message censored -->
          <tr>
            <td class="hiddenMessage"><%= t(:topic_censored) %></td>
            <td><%=l topic.created_at %></td>
            <% if topic.commented_at %>
              <td><%=l topic.commented_at, :format => :short %></td>
            <% else %>
              <td></td>
            <% end %>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
