<h1><%=t :new_topic_heading %></h1>

<%= form_for(@topic, :class => 'messageEditor') do |f| %>
  <%= f.hidden_field :course_instance_id %>

  <table>
    <tr>
      <td><%=t :topic_visibility %></td>
      <td>
        <%= f.radio_button :visibility, 'staff' %> <%=t :topic_visibility_staff %><br />
        <%= f.radio_button :visibility, 'public' %> <%=t :topic_visibility_public %>
      </td>
    </tr>
  </table>

  <p>
    <%=t :caption %>
    <%= f.text_field :caption %>
  </p>

  <p>
  <%=t :feedback %><br />
  <%= f.text_area :text, { :rows => 5, :class => 'input-xxlarge'} %>
  </p>

  <p>
    <% if logged_in? %>
      <%= f.radio_button :anonymous, true %> <%=t :send_with_pseudonym %>: <%= f.text_field :nick %><br />
      <%= f.radio_button :anonymous, false %> <%=t :send_with_real_name %>: <b><%=h current_user.name %></b>
    <% else %>
      <%= f.hidden_field :anonymous %> <%=t :pseudonym %>: <%= f.text_field :nick %><br />
    <% end %>
  </p>

  <p>
    <button type="submit" class="btn"><%= t(:send_button) %></button>
  </p>
<% end %>

<%= link_to t(:back), topic_index_path(@course.code, @instance.path) %>
