<% if @topic.visibility == 'staff' %>
  <p class="hint"><%=t :private_topic_hint %></p>
<% end %>

<div class="topic">
  <div class="message">
    <div class="messageButtons">
      <!-- Thumbs -->
      <% if @allow_vote %>
        <div class="thumbs" id="topicThumbs<%= @topic.id %>">
          <%= link_to vote_topic_url(@topic, :amount => '1'), :remote => true, :class => 'thumbsUp', :title => t(:thumb_up_tooltip) do
            image_tag('thumb_up.png', :alt => t(:thumb_up_alttext)) + ' ' + @topic.thumbs_up.to_s
            #update => "topicThumbs#{@topic.id}"
          end %>
          <%= link_to vote_topic_url(@topic, :amount => '-1'), :remote => true, :class => 'thumbsDown', :title => t(:thumb_down_tooltip) do
            image_tag('thumb_down.png', :alt => t(:thumb_down_alttext)) + ' ' + @topic.thumbs_down.to_s
            #:update => "topicThumbs#{@topic.id}"
          end %>
        </div>
      <% else %>
        <%= render :partial => 'messages/thumbs', :locals => {:message => @topic} %>
      <% end %>

      <% if can? :manage, @course %>
        <ul class="messageActions">
          <li><%= link_to t(:add_to_faq), new_faq_path(:course_code => @course.code, :instance_path => @instance.path, :topic_id => @topic.id) %></li>
          <% if @topic.visibility == 'public' %>
            <li><%= link_to_remote t(:re_moderate), {:url => moderate_topic_url(@topic), :update => "topicModeration"} %></li>
          <% end %>
          <li><%= link_to t(:edit_topic), edit_topic_url(@topic) %></li>
        </ul>
      <% end %>
    </div>

    <!-- Caption -->
    <h2>
      <%= @topic.caption %>
      <% if @topic.moderation_status == 'censored' %>
        <%= image_tag('censored.png', :alt => 'Censored', :id => "topicModerationStatus") %>
      <% elsif @topic.moderation_status == 'deleted' %>
        <%= image_tag('deleted.png', :alt => 'Deleted', :id => "topicModerationStatus") %>
      <% end %>
    </h2>

    <!-- Header -->
    <p class="sender">
      <%=h @topic.nick %>
      <% if @topic.anonymous %>
        <i>(<%=t :not_authenticated %>)</i>
      <% else %>
        <i>(<%=t :authenticated %>)</i>
      <% end %>
      &mdash; <%=l @topic.created_at, :format => :long %>
    </p>

    <!-- Message body -->
    <p class="text"><%=h @topic.text %></p>

    <!-- Moderation -->
    <% if can? :manage, @course %>
      <div id="topicModeration">
        <% if @topic.moderation_status == 'pending' %>
          <%= render :partial => 'moderation' %>
        <% end %>
      </div>
    <% end %>

    <div class="clear"></div>
  </div>

  <!-- Comments -->
  <div class="messages" id="messages<%= @topic.id %>">
    <%= render :partial => 'messages/message', :collection => @topic.messages %>
  </div>

  <!-- Add comment -->
  <% if !@instance.active %>
    <p class="hint"><%=t :new_comment_inactive %></p>
  <% elsif @allow_send %>
    <p id="messageEditor"><%= link_to t(:new_comment), new_message_url(:topic_id => @topic.id), :remote => true, :method => :get
    #:update => "messageEditor"
    %></p>
  <% elsif !user_signed_in? %>
    <p class="hint"><%= link_to t(:new_comment_login), url_for(:require_login => true) %></p>
  <% elsif @course.feedback_write_permission == 'enrolled' && !@enrolled %>
    <p class="hint"><%=t :new_comment_enrolled %></p>
  <% end %>

  <p><%= link_to t(:back), topic_index_path(@course.code, @instance.path) %></p>
</div>
