<!-- Alternatives -->
<p><%=t :survey_alternatives %>:</p>
<ul id="radio<%= question.id %>">
  <% if question.payload %>
    <% question.payload.each_with_index do |alternative, index| %>
      <li><%= text_field_tag "alternative[#{index}]", alternative %></li>
    <% end %>
  <% end %>
</ul>

<button type="button" onclick="addTextfieldRow('<%= "radio#{question.id}" %>', 'alternative')" ><%=t :survey_add_alternative %></button>
