<div class="surveyQuestionEditor" id="question<%= question.id %>">
  <% remote_form_for :question, :url => survey_question_path(question, :survey_id => @survey.id), :method => :put do |f| %>
    <table>
      <tr>
        <td><%=t :survey_question %>:</td>
        <td><%= f.text_field :question %></td>
      </tr>
      <tr>
        <td><%=t :survey_hint %>:</td>
        <td><%= f.text_field :hint %></td>
      </tr>
      <tr>
        <td><%=t :survey_mandatory %>:</td>
        <td><%= f.check_box :mandatory %></td>
      </tr>
    </table>
    
    <!-- Question specific editor-->
    <%=
    case question.type
    when 'RadioQuestion'
      render :partial => "survey_questions/multi_question_editor", :locals => {:question => question}
    when 'CheckboxQuestion'
      render :partial => "survey_questions/multi_question_editor", :locals => {:question => question}
    when 'DropdownQuestion'
      render :partial => "survey_questions/multi_question_editor", :locals => {:question => question}
    when 'LikertQuestion'
      render :partial => "survey_questions/likert_question_editor", :locals => {:question => question}
    end
    %>

    <p>
      <%= link_to_remote t(:Cancel), :url => survey_question_path(question), :method => :get %>
      <%= f.submit t(:Save) %>
    </p>
      
  <% end %>
</div>
