<div class="surveyQuestionResults" id="question<%= question.id %>">
  <h2>
    <%= question.mandatory ? '*' : '' %>
    <%=h question.question %>
  </h2>


  <% if @show_numeric && ['RadioQuestion', 'CheckboxQuestion', 'DropdownQuestion'].include? (question.type) %>
    <%= render :partial => "survey_questions/multi_results", :locals => {:question => question} %>
  <% elsif @show_numeric && question.type == 'LikertQuestion' %>
    <%= render :partial => "survey_questions/likert_results", :locals => {:question => question} %>
  <% elsif @show_text && ['TextQuestion', 'StringQuestion'].include? (question.type) %>
    <% question.results.each do |answer| %>
      <% unless answer.answer.blank? %>
        <p><%= answer.survey_answer_set.id %>: <%=h answer.answer %></p>
      <% end %>
    <% end %>
  <% elsif @show_studentnumbers && question.type == 'StudentnumberQuestion'  %>
    <p>
      <% question.results.each do |answer| %>
        
          <%=h answer %>,
        
      <% end %>
    </p>
  <% end %>
  
</div>
