<div class="surveyQuestion" id="question<%= question.id %>">
  <h2>
    <%= question.mandatory ? '*' : '' %>
    <%=h question.question %>
  </h2>
  
  <% unless question.hint.blank? %>
    <p class="hint"><%=h question.hint %></p>
  <% end %>
  
  <% if question.public %>
    <p>Public results</p>
  <% end %>
  
  <%= render :partial => "survey_questions/#{question.type.underscore}", :locals => {:question => question} %>
  
</div>
