<div class="page-header">
  <% if can? :edit, @questionnaire %>
    <div class="pull-right">
      <%= link_to t(:Edit), edit_course_instance_questionnaire_path(@instance, @questionnaire), :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <h1>
    <% if @questionnaire.course_instance %>
      <%= @questionnaire.course_instance.name %>
    <% else %>
      Questionnaire
    <% end %>
  </h1>
</div>


<%= form_for @answer_set, :url => answer_course_instance_questionnaire_path(@instance, @questionnaire), :html => {:class => 'form-inline'} do |answer_set_form| %>
  <%= answer_set_form.hidden_field :questionnaire_id %>

  <%= answer_set_form.fields_for :answers do |answer_form| %>
    <%= render :partial => "answers/#{answer_form.object.question.type.underscore}", :locals => {:form => answer_form, :question => answer_form.object.question } %>

    <% #= render :partial => "answers/#{question.type.underscore}", :locals => {:form => answer_set_form, :question => question}
    %>
  <% end %>


  <%= answer_set_form.submit 'Lähetä', :class => 'btn btn-success' %>
<% end %>

<% if @questionnaire.course_instance %>
  <%= link_to t(:Back), @questionnaire.course_instance %>
<% else %>
  <%= link_to t(:Back), course_instance_questionnaires_path(@instance) %>
<% end %>
