<h1><%=t :edit_survey_heading %></h1>

<!-- Survey settings -->
<%= form_for :survey, :url => survey_path(@course.code, @instance.path, @survey.id), :html => { :method => :put} do |f| %>
  <%= render :partial => 'settings', :locals => { :f => f } %>
<% end %>

<hr />

<!-- Questions -->
<div id="questions">
  <%= render :partial => "survey_questions/survey_question_editable", :collection => @survey.survey_questions, :as => :question %>
</div>

<!-- Add question -->
<%= remote_form_for SurveyQuestion.new, :url => survey_questions_path(:survey_id => @survey.id), :method => :post, :update => 'questions', :position => 'bottom'  do |f| %>
  <p>Add question: <%= f.select :type, [['Short text','StringQuestion'],['Long text','TextQuestion'],['Radio','RadioQuestion'],['Checkbox','CheckboxQuestion'], ['Dropdown','DropdownQuestion'], ['Likert','LikertQuestion'], ['Student number','StudentnumberQuestion']], :selected => nil %> <%= f.submit 'Add' %></p>
<% end %>


<hr />

<p><%= link_to 'Show', survey_path(@course.code, @instance.path, @survey.id) %></p>
