<h1><%=t :surveys_heading %></h1>

<table>
  <% @surveys.each do |survey| %>
    <tr>
      <td><%= link_to h(survey.name), survey_path(@course.code, @instance.path, survey.id) %></td>
      <% if @allow_edit %>
        <td><%= link_to t(:survey_results), results_survey_path(@course.code, @instance.path, survey.id) %></td>
        <td><%= link_to t(:Edit), edit_survey_path(@course.code, @instance.path, survey.id) %></td>
        <td><%= link_to t(:Delete), survey_path(@course.code, @instance.path, survey.id), :confirm => t(:confirm_delete_survey, :name => survey.name), :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if @allow_edit %>
  <p><%= link_to t(:new_survey), new_survey_path(@course.code, @instance.path) %></p>
<% end %>
