<h1><%= "#{@course.code} #{@course.name} - " + t(:Settings) %></h1>

<%= render :partial => 'settings' %>

<h2><%=t :course_instances_heading %></h2>

<table>
  <% @course.course_instances.each do |instance| %>
    <tr>
      <td><%=h instance.name %></td>
      <td><%= instance.active ? t(:active_instance) : t(:inactive_instance) %></td>
      <td><%= link_to :Edit, edit_course_instance_path(instance) %></td>
    </tr>
  <% end %>

  <tr>
    <td><%= link_to t(:new_instance), new_course_instance_path(:course_id => @course.id) %></td>
    <td></td>
    <td></td>
  </tr>
</table>
