<div class="faqEntry" id="entry<%= entry.id %>">
  <div class="messageButtons">
    <% if @allow_edit %>
      <ul class="messageActions">
        <li><%= link_to t(:edit_entry_link), edit_faq_entry_path(entry, :instance_path => @instance.path) %></li>
        <li><%= link_to_remote t(:delete_entry_link), {:url  => faq_entry_url(entry, :instance_path => @instance.path), :method => :delete, :confirm => t(:faq_confirm_delete)} %></li>
      </ul>
    <% end %>
  </div>
  
  <h2><%= h(entry.caption) %></h2>

  <% unless entry.question.blank? %>
    <p class="question">
      <%= h(entry.question).gsub(/\n/, '<br />') %>
    </p>
  <% end %>
  <p class="answer">
    <%= h(entry.answer).gsub(/\n/, '<br />') %>
  </p>

  <div class="clear"></div>
</div>
 
