<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi" xml:lang="fi">

  <head>
    <title>
      <%=t :app_title %>
      <% if @course %>
        - <%= @course.code %>
      <% end %>
      <% if @instance %>
        - <%= @instance.name %>
      <% end %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://www.cs.helsinki.fi/sites/default/files/acquia_cshelsinkifi_favicon.ico" type="image/x-icon" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/ie7-fixes.css" type="text/css">
    <![endif]-->
    <!--[if lte IE 6]>
      <link rel="stylesheet" href="http://www.cs.helsinki.fi/sites/all/themes/acquia_cshelsinkifi/ie6-fixes.css" type="text/css">
    <![endif]-->
  <%= stylesheet_link_tag 'tktl' %>
  <%= stylesheet_link_tag 'tktlStyle' %>
  <%= stylesheet_link_tag 'tktlCustom' %>
  <% @stylesheets.each do |stylesheet| %>
    <%= stylesheet_link_tag stylesheet %>
  <% end %>
  <%= javascript_include_tag  :defaults %>
  
  </head>

  <body class="front layout-main">
  
<!-- User -->
<div class="loginInfo">
  <% if user_signed_in? %>
    <%= link_to current_user.name, edit_user_path(current_user) 
    %>
  <% else %>
    <%=t :not_logged_in %>
  <% end %>
</div>

    <div id="page" class="clearfix">

      <div id="header-wrapper">
        <div id="header" class="clearfix">
          <div id="header-first">
            <div id="logo">
              <a href="/" title="Etusivu"><img src="http://www.cs.helsinki.fi/sites/default/files/acquia_cshelsinkifi_logo.png" alt="Etusivu" /></a>
            </div>
            <h1><a href="http://www.cs.helsinki.fi/" title="Etusivu"><%=t :tktl_department %></a></h1>
          </div><!-- /header-first -->
          <div id="header-last">
                        
            <div class="block-wrapper odd">
              <div id="block-block-2" class="block block-block">
                <div class="content">
                  <h3><a id="university" href="http://www.helsinki.fi/yliopisto"><%=t :tktl_university %></a></h3>
                  <h3><a id="faculty" href="http://www.helsinki.fi/ml"><%=t :tktl_faculty %></a></h3>
                </div>
              </div>
            </div>

            <div class="block-wrapper even">
              <div id="block-search-0" class="block block-search">
                <div class="content">
                    <div>
                      <div class="container-inline">
                        <div class="form-item" id="edit-search-block-form-1-wrapper">
                          <label for="edit-search-block-form-1"><%=t :tktl_search_hint %>:</label>
                          <input type="text" maxlength="128" name="search_block_form" id="edit-search-block-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
                        </div>
                        <input type="submit" name="op" id="edit-submit" value="<%=t :tktl_search_button %>"  class="form-submit" />
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="block-wrapper odd">
              <div id="block-locale-0" class="block block-locale">
                <div class="content">
                  <ul>
                    <!-- Language -->
                    <% # Only show the language buttons for GET requests. If the current page is the result of a POST request, doing a GET request to the same URL could lead to a different view or even a 404.
                    if request.get? %>
                      <li class="fi first"><%= link_to 'Suomi', url_for(:overwrite_params => {:locale => 'fi'}), :class => 'language-link' %></li>
                      <li class="en last"><%= link_to 'English', url_for(:overwrite_params => {:locale => 'en'}), :class => 'language-link' %></li>
                    <% else %>
                      <li class="fi first">Suomi</li>
                      <li class="en last">English</li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>

          </div><!-- /header-last -->
      
        </div><!-- /header -->
      </div><!-- /header-wrapper -->
      
      <div id="primary-menu-wrapper" class="clearfix">
        <div id="primary-menu">
          <ul class="menu">
            <li class="leaf first"><a href="http://www.cs.helsinki.fi/home" class="active"><%=t :tktl_navi_home %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/tutkimus"><%=t :tktl_navi_research %></a></li>
            <li class="leaf active-trail"><a href="http://www.cs.helsinki.fi/opiskelu"><%=t :tktl_navi_studies %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/opiskelijaksi"><%=t :tktl_navi_prospective %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/alumni"><%=t :tktl_navi_alumni %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/henkilosto"><%=t :tktl_navi_people %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/hallinto"><%=t :tktl_navi_administration %></a></li>
            <li class="leaf"><a href="http://www.cs.helsinki.fi/tietotekniikka"><%=t :tktl_navi_computing %></a></li>
            <li class="leaf last"><a href="http://www.cs.helsinki.fi/yhteystiedot"><%=t :tktl_navi_contact %></a></li>
          </ul>        
        </div><!-- /primary_menu -->
      </div><!-- /primary-menu-wrapper -->

      <div id="main-wrapper">
        <div id="main" class="clearfix">
          <div id="content-wrapper">
            <div id="content">
              <div id="content-inner">

<!-- Title -->
<h1>
  <%= link_to t(:app_title), root_path %>
  <% if @course and !@course.new_record?%>
    - <%= link_to "#{@course.code} #{@course.name}", course_root_path(@course.code) %>
  <% end %>
  <% if @instance and !@instance.new_record? %>
    - <%= link_to @instance.name, instance_root_path(@instance.course.code, @instance.path) %>
  <% end %>
</h1>

<!-- Flash messages -->
<% if flash[:error] %>
  <div class="flashError"><%= flash[:error] %></div>
<% end
if flash[:warning] %>
  <div class="flashWarning"><%= flash[:warning] %></div>
<% end
if flash[:success] %>
  <div class="flashSuccess"><%= flash[:success] %></div>
<% end 
if flash[:notice] %>
  <div class="flashNotice"><%= flash[:notice] %></div>
<% end %>


<!-- Left navigation -->
<% if @course and !@course.new_record? %>
  <div class="sideNavi">
    <% if @instance %>
      <div class="panel-pane vihrea">
        <ul class="naviButtons">
          <li><%= link_to t(:navi_feedback), topic_index_path(@instance.course.code, @instance.path) %></li>
          <% if @course.faq_entries.length > 0 %>
            <li><%= link_to t(:navi_faq), faq_path(@course.code, @instance.path) %></li>
          <% end %>
          
          <!-- Surveys -->
          <% @instance.surveys.each do |survey| %>
            <% if authorized_level?(current_user, @course, survey.answer_permission) %>
              <li class="<%= survey.open? ? 'active' : 'inactive' %>">
                <%= link_to h(survey.name), survey_path(@course.code, @instance.path, survey.id) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <!-- Instances -->
    <div class="panel-pane vihrea">
      <h2><%=t :navi_instances %></h2>
      
      <ul class="instances">
        <% @course.course_instances.each do |instance| %>
          <li class="<%= instance.active ? 'active' : 'inactive' %> <%= @instance && @instance.id == instance.id ? 'selected' : '' %>" >
            <%= link_to instance.name, instance_root_path(instance.course.code, instance.path) %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <!-- Settings -->
    <% if can? :update, @course %>
      <div class="panel-pane vihrea">
        <h2><%=t :navi_settings %></h2>
        
        <ul class="naviButtons">
          <!--li class="settingsLink"><%= link_to 'Roles', edit_course_path(@course) %></li-->
          <li><%= link_to t(:navi_course_settings), edit_course_path(@course) %></li>
          <% if @instance %>
            <li><%= link_to t(:navi_instance_settings), edit_course_instance_path(@instance) %></li>
            <li><%= #link_to t(:navi_surveys), surveys_path(@course.code, @instance.path) 
            %></li>
          <% end %>
          
          <li><%= # link_to t(:navi_my_preferences), edit_user_path(current_user) 
          %></li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>


<div class="content-content">
  <%= yield %>
</div>


              </div><!-- /content-inner -->
            </div><!-- /content -->
          </div><!-- /content-wrapper -->
          
          
<div id="footer" class="clearfix">
  <div class="block-wrapper odd">
    <div id="block-block-1" class="block block-block">
      <div class="content">
        <p><%=t :tktl_footer %></p>
      </div>
    </div>
  </div>

  <!-- Login -->
  <% if user_signed_in? %>
    <%= link_to t(:logout_button), destroy_user_session_path %>
  <% else %>
    <% if request.get? %>
      <%= link_to t(:login_button), url_for(:require_login => true) %>
    <% else %>
      <%= link_to t(:login_button), destroy_user_session_path %>
    <% end %>
  <% end %>
  | <a href="mailto:it-web[at-remove]cs.helsinki.fi">Webmaster</a>
</div><!-- /footer -->

                    
        </div><!-- /main -->
      </div><!-- /main-wrapper -->
    </div><!-- /page -->
   
  </body>
</html>
